/* Aspectos Gerais da Página*/
html {
    /* Cores da Página */
    background-color: rgb(160, 231, 172);
    color: rgb(38, 82, 37);
    
}

/* Destaque Primário */
.cor_1_fonte {
        color: rgba(69, 92, 70, 0.911);
}

/* Destaque  */
.cor_2 {
    color: rgb(226, 144, 66);
}

/* Cor Secundário */
.cor_3 {
    color: rgba(130, 236, 236, 0.87);}