html {
    background-color: rgb(160, 231, 172);
    color: rgb(38, 82, 37);
    font-size: 18px;
    font-family: Arial, trebuchet MS, Sans-serif;

/* Destaque Primário */
.cor_1_fonte {
        color: rgba(69, 92, 70, 0.911);
}

/* Destaque  */
.cor_2 {
    color: rgb(226, 144, 66);
}

/* Cor Secundário */
.cor_3 {
    color: rgba(130, 236, 236, 0.87);}
}

p{
 text-indent: 1em;
}

h1, h2, h3 {
    text-align: center;
}

h1 {
    font-size: 1.8rem;
}
h2 {
    font-size: 1.4rem;
}
h3 {
    font-size:1.2rem;
}

.summary {
    text-align: center;
}

.main p {
    line-height: 1.5;
}

abbr {
    font-variant: small-caps;
}

.page-wrapper{
    width: 80%;
    max-width: 1280px;
    margin: auto;
    position: relative;
}

.intro{
    height: 550px;
}

.design-archives{
    display:none;
}

header{
    background-color:rgb(42, 90, 49);
    color: rgb(205, 226, 172);
    text-align: center;
}

header > h1, h2 {
    display: inline-block;
}

h1 {
    margin-left: 1em;
    margin-right: 1em;
}


aside ul {
    list-style-type: none;
}

aside ul li {
    margin: 1.1em;
    text-align: center;
}

.design-selection {
    position: absolute;
    top: 520px;
    left: 62%;
    width: 38%;
    padding-left: 1%;
    padding-right: 1%;
}

.design-selection li{
    border-top: solid 1px rgb(39, 95, 95);
    margin-top: 9px;
    margin-bottom: 9px;
    padding-top: 9px;
}

.design-selection li:last-of-type{
    border-bottom: solid 1px rgb(39, 95, 95);
    padding-bottom: 9px;
}

footer {
    background-color: rgb(123, 177, 126);
    margin: 4%;
    padding: 3px;
    
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

footer a {
    color: rgb(205, 255, 240);
    border: solid 2px rgb(155, 221, 188);
    padding: 0.5em;
    text-align: center;
    flex-basis: 100px;
    
}


.explanation {
    width: 60%;
    margin-right: 35%;
    border-right: solid 1px #1f295c;
    padding-right: 2%;
    padding-bottom: 1%;
}

.benefits{
    display:flex;
    border-bottom: solid 1px rgb(39, 95, 95);
    border-top: solid 1px rgb(39, 95, 95);
}

.benefts p {
    flex-basis: 70%;
}

.benefits h3 {
    order: 2;
    align-self: center;
    flex-basis: 30%;
}

.participation{
    display:flex;
    flex-wrap: wrap;
    border-top: solid 1px rgb(39, 95, 95);

}

.participation h3, .participation p {
    flex-basis: 50%;
}

.participation h3 {
    align-self: center;
}

a{
    font-weight: bold;
    color: rgb(36, 53, 22)
}

a:hover {
    color: rgb(214, 104, 0);
}

a:active, a:visited{
    font-weight: 400;
}

.main p:first-of-type:first-letter {
    font-size: 3em;
    font-family: 'Times New Roman', Times, serif;
    float: left;
}

@media screen and (max-width: 768px) {
    
    /* Aspectos do Menu de Desings */
    .design-selection {
        position: static;
        width: 100%;
    }

    /* Aspectos do Painel de Explicação */
    .explanation {
        border: none;
        margin: 0px;
        padding: 0px;
        width: 100%;
    }

    /* Aspectos do Painel de Participação */
    .participation {
        flex-direction: column;

    }

    .participation h3, .participation p {
        flex-basis: 100%;
    }
    /* Aspectos do Painel de Benefícios */
    .benefits {
        flex-direction: column;
    }

    .benefits h3 {
        order: 0;
        flex-basis: 100%;
    }

    .benefits p {
        flex-basis: 100%;
    }

    /* Aspectos do Cabeçalho */
    .intro {
        height: 100%;
    }

    /* Espaçamento dos parágrafos */
    p {
        text-indent: 0;
    }

    /* Aspectos do Rodapé */
    footer {
        flex-direction: column;
        align-items: center;
    }

    footer a {
        flex-basis: 100%;
        width: 90%;
        margin: 1%;
        justify-content: center;
        font-size: 1.1em;
    }
}

@media print {
    /* Aspectos Gerais */
    html {
        font-style: Georgia, 'Times New Roman', Times, serif;
        background-color: white;
        color: rgb(23, 57, 57)
    }

    /* Aspectos do Banner e do Footer */
    header {
        background-color: white;
        color: rgb(23, 57, 57);
    }

    footer {
        background-color: white;
        color: rgb(23, 57, 57);
    }

    footer a {
        background-color: white;
        color: rgb(23, 57, 57);
        border: solid 2px rgb(23, 57, 57);
        flex-basis: 50px
    }

    /* Aspectos dos Links */
    a {
        color: rgb(187, 50, 0);
    }

    /* Aspectos do Menu de Desings */
    .design-selection {
        position: static;
        width: 100%;
    }

    /* Aspectos do Painel de Explicação */
    .explanation {
        border-right: none;
        border-top: solid 1px rgb(39, 95, 95);
        margin: 0px;
        padding: 0px;
        width: 100%;
        margin-top: 3rem;
    }
}